USE [master]
GO
/****** Object:  Database [APITVSHOW]    Script Date: 25/06/2024 06:07:35 a. m. ******/
CREATE DATABASE [APITVSHOW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'APITVSHOW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\APITVSHOW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'APITVSHOW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\APITVSHOW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [APITVSHOW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [APITVSHOW]
GO
/****** Object:  Table [dbo].[TVShow]    Script Date: 25/06/2024 06:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TVShow](
	[IdTvShow] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Favorite] [bit] NULL,
	[idUser] [int] NULL,
 CONSTRAINT [PK_TVShow] PRIMARY KEY CLUSTERED 
(
	[IdTvShow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 25/06/2024 06:07:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Mail] [varchar](50) NULL,
	[Telephone] [varchar](50) NULL,
	[Password] [varchar](100) NULL,
	[isActive] [bit] NULL,
	[DateRegistration] [datetime] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TVShow] ON 

INSERT [dbo].[TVShow] ([IdTvShow], [Name], [Favorite], [idUser]) VALUES (3, N'ArteVida', NULL, NULL)
INSERT [dbo].[TVShow] ([IdTvShow], [Name], [Favorite], [idUser]) VALUES (5, N'Game of Thrones', 1, NULL)
INSERT [dbo].[TVShow] ([IdTvShow], [Name], [Favorite], [idUser]) VALUES (6, N'The Wire', 1, NULL)
SET IDENTITY_INSERT [dbo].[TVShow] OFF
GO
ALTER TABLE [dbo].[TVShow]  WITH CHECK ADD  CONSTRAINT [FK_TVShow_Usuario] FOREIGN KEY([idUser])
REFERENCES [dbo].[Usuario] ([idUser])
GO
ALTER TABLE [dbo].[TVShow] CHECK CONSTRAINT [FK_TVShow_Usuario]
GO
USE [master]
GO
